.hidden {
    display: none;
}

.navigation-bar {
    background-color: var(--azul-delft);
    max-height: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#navbar-acervo {
    justify-content: space-around;
}

.back-to-home-acervo {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.back-to-home-acervo span {
    font-size: 2.3rem;
    color: white;
    font-weight: 550;
    margin-left: -4%;
}

.container-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 16px;
    width: 60%;
    height: 45%;
    justify-content: space-between;
    margin-right: 5%;
}

.container-form .tipo-de-busca {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px 15px 17px 26px;
    border-right: 2px solid var(--azul-delft);
    cursor: pointer;
    gap: 4px;
}

.container-form .tipo-de-busca span {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 175px;
}

.list-hidden {
    position: absolute;
    top: 222px;
    background-color: white;
    display: flex;
    flex-direction: column;    
    gap: 17px;
    padding: 15px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 1px solid var(--azul-delft);
    width: 245px;
}

.list-hidden li {
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.submitButton {
    background-color: var(--azul-colombia);
    padding: 10px 5px 10px 5px;
    width: 20%;
    height: 100%;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    border-left: 2px solid var(--azul-delft);
    cursor: pointer;
}

#lupa-busca-acervo{

    opacity: 0.6;
}

.container-form input {
    width: 100%;
    height: 100%;
    font-size: 24px;
    padding-left: 10px;
}

#busca-acervo::placeholder{

    color: var(--alcacuz);
    opacity: 0.6;
    text-align: center;
} 

#busca-acervo:focus::placeholder{

    color: transparent;
    
} 

.libContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    gap: 50px;
    text-align: left;
    margin-bottom: 70px;
}

.libContainer span {
    font-size: 24px;
    color: var(--alcacuz);
}

.libContainer .libItem {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 25px;
    row-gap: 40px;
    max-width: 95%;
}

.libContainer .libItem a {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.libContainer .libItem a span {
    margin-left: 4px;
}

.capa-ancora span {
    display: block;
    margin-top: 8px;
    font-size: 100%;
    font-weight: 600;
    color: var(--alcacuz);
    text-align: start;
    line-height: 1.3;
}

.libContainer .libItem a img {
    width: 100%;
    border: 0.25rem solid transparent;
    transition: border 0.75s ease, transform .75s ease;
}

.libContainer .libItem a img:hover {
    border: 0.25rem solid var(--azul-delft);
    transform: scale(1.025);
}