.janela-avaliacao{

    display: none;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-color: var(--alcacuz);
    border: 0.25rem solid var(--azul-delft);
    border-radius: 1rem;
    padding: 1rem;
    width: 60vw;
    height: 80vh;
    position: fixed;
    top: 10%;
    left: auto;
    right: auto;
    z-index: 1000;
    background-color: var(--branco);

}

.avaliacao-botoes{

    display: flex;
    justify-content: center;
    
}

textarea{

    height: 30vh;
    margin-bottom: 2vh;
}

.janela-avaliacao button{

    height: 8vh;
    width: 15vw;
    cursor: pointer;
    font-size: 3vh;
    border-radius: 1.25rem;
    color: var(--branco);
    font-weight: 550;
    cursor: pointer;
}

.janela-avaliacao button:hover{

    filter:brightness(1.2);
}

#avaliacao-cancelar{

    margin-right: 2.5%;
    background-color: var(--vermelho-alaranjado);
 
}

#avaliacao-enviar{

    margin-left: 2.5%;
    background-color: var(--azul-delft);
}

#comentario{

    border: 0.2rem solid var(--azul-delft);
    border-radius: 0.5rem;
    width: 99%;
    font-size: 3vh;
    opacity: 0.9;
}

h3{

    font-size: 6vh;
    text-align: center;
    padding: 1% 0 1% 0;
    font-weight: 550;
    font-family: var(--fonte-principal);
}

.janela-avaliacao span {

    font-size: 4vh;
    font-weight: 400;
    font-family: var(--fonte-principal);
}

.janela-avaliacao label {

    font-size: 4vh;
    font-family: var(--fonte-principal);
}

.container-nota{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.container-comentario{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.instrucao-comentario{

    font-family: var(--fonte-principal);
    font-weight: 400;
    
}