
/* sua animação já existia */
@keyframes fadeInUsuario {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* FIM DO TRECHO DO MENU DO USUARIO */


body .search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    background-color: var(--azul-delft);
    gap: 1.8rem;

    /* controle da transição da seção na abertura do menu de login */
    flex: 1 1 100%;
    transition: flex-basis .5s ease;
    min-width: 0;
}

.container_busca_e_login{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;         /* garante mesma altura */
    min-width:0;
}

.container_campos_usuario{

    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-align: left;
}

.container_campos_senha{

    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-align: left;
}

.menu_login input{

    width: 100%;
    height: 2.5rem;
    border-radius: calc((5/8)*1rem);
    border: solid 0.1rem var(--alcacuz);
    font-size: 1rem;
    color: var(--alcacuz);
    padding-left: 0.5rem;
}

.menu_login input::placeholder{

    color: var(--alcacuz);
    opacity: 0.6;

}

.menu_login input:focus::placeholder{

    opacity: 0;
}

.menu_login button{

    width: 50%;
    height: 2.5rem;
    border-radius: calc((5/8)*1rem);
    font-size: 1.75rem;
    color: var(--branco);
    background-color: var(--azul-delft);
    margin: auto;
    cursor: pointer;
}

.menu_login button:hover{

    filter: brightness(1.2);
}

.esqueci_senha, .cadastre-se{

    font-size: 1rem;
}

.esqueci_senha{

    line-height: 100%;
}

.esqueci_senha:hover{

    filter: brightness(1.2);
}

.cadastre-se{

    text-align: center;
}

.cadastre-se:hover{

    filter:brightness(1.2);
}
.ancora_cadastre-se{

    color: var(--vermelho-alaranjado)
}

.container_rotulo_senha{

    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 0.75rem;
   
}

.esqueci_senha{

    color: var(--vermelho-alaranjado);
}
body .search_container h1 {
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

body .search_container h2 {
    color: white;
    font-weight: 600;
    font-size: 2rem;
}

body .search_container div {
    width: 28.25rem;
    height: 3.6rem;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .search_container div input {
    width: 120%;
    height: 100%;
    font-size: 1.5rem;
    color: hsl(var(--alcacuz) / 0.8);
    border-radius: 1.0rem;
    text-align: center;
    padding: 0 2.5rem 0 0;
    outline: none;
}

body .search_container div input:focus::placeholder {

    opacity: 0;
}

#botao-buscar-home {

    position: absolute;
    height: 100%;
    right: -10%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 7.5%;
    background-color: var(--azul-colombia);
    padding: 10px 5px 10px 5px;
    width: 20%;
    height: 100%;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    border-left: 2px solid var(--azul-delft);
    cursor: pointer;
    
    
}

#lupa-busca-home{

    opacity: 0.6;
}