body header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8rem;
}

body header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    margin: 0 8.6% 0 8.6%;
}

body header nav .nav_containers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

body header nav .nav_containers .anchor_container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

body header nav .nav_containers .anchor_container a {
    color: var(--alcacuz);
    font-weight: 600;
    font-size: 1.5rem;
}

.icon {
    width: 1.5rem;
}

body header nav .logo_container img {
    width: 15rem;
}

body header nav .login_container label {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: var(--azul-delft);
    padding: 0.5rem 1rem;
    gap: 0.95rem;
    border-radius: .313rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.entrar-rotulo:hover{

    filter: brightness(1.2);
}
