* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.checkbox-genero{
    display: none;
}

/* quando um checkbox de gênero estiver marcado,
muda o estilo da âncora */
.checkbox-genero:checked + .rotulo-genero > .ancora-genero {
    text-decoration: underline;
}

/* pra mudar o estilo da âncora sob hover, basta estilizar aqui dentro */
.ancora-genero:hover{

    font-size: 1.6rem;
}

.menu_login input::placeholder{

    color: var(--alcacuz);
    opacity: 0.6;

}
input:focus::placeholder{

    opacity: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

body .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

body .logo-container img {
    width: 15rem;
    height: 15rem;
}

body .logo-container h1 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--azul-delft);
}

body .formulario-cadastro {
    display: flex;
    flex-direction: column;
    background-color: var(--azul-delft);
    color: white;
    padding: 2rem 2rem;
    border-radius: 1.53rem;
    gap: 1rem;
    width: 50%;
}

body .formulario-cadastro .quadro-identidade {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-bottom: 2px solid white;
    padding-bottom: 2rem;
    width: 100%;
}

body .formulario-cadastro .quadro-identidade h3 {
    font-size: 1.6rem;
}

body .formulario-cadastro .quadro-identidade .quadro-identidade-campos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    width: 100%;
    row-gap: .5rem;
}

body .formulario-cadastro .quadro-identidade .quadro-identidade-campos .quadro-identidade_campo {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 700;
    gap: .15rem;
    width: 100%;
}

body .formulario-cadastro .quadro-identidade .quadro-identidade-campos .quadro-identidade_campo label {
    padding-left: .1rem;
    width: 100%;
}

body .formulario-cadastro .quadro-identidade .quadro-identidade-campos .quadro-identidade_campo input {
    text-align: start;
    border-radius: .4rem;
    height: 2.5rem;
    font-size: 1.1rem;
    outline: invert;
    padding-left: .5rem;
    width: 100%;
}

body .formulario-cadastro .quadro-endereco {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    border-bottom: 2px solid white;
    padding-bottom: 2rem;
    width: 100%;
}

body .formulario-cadastro .quadro-endereco h3 {
    font-size: 1.6rem;
}

body .formulario-cadastro .quadro-endereco .quadro-endereco-campos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    width: 100%;
    row-gap: .5rem;
}

body .formulario-cadastro .quadro-endereco .quadro-endereco-campos .quadro-endereco_campo {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 700;
    gap: .15rem;
    width: 100%;
}

body .formulario-cadastro .quadro-endereco .quadro-endereco-campos .quadro-endereco_campo label {
    padding-left: .1rem;
}

body .formulario-cadastro .quadro-endereco .quadro-endereco-campos .quadro-endereco_campo input {
    text-align: start;
    border-radius: .4rem;
    height: 2.5rem;
    font-size: 1.1rem;
    outline: invert;
    padding-left: .5rem;
    width: 100%;
}

body .formulario-cadastro .quadro-endereco .quadro-endereco-campos .quadro-endereco_campo #estado {
    text-align: start;
    height: 2.5rem;
    border-radius: .4rem;
    font-size: 1.2rem;
    color: var(--alcacuz) !important;
    width: 100%;
    box-sizing: border-box;
    padding-left: .5rem;
}

body .formulario-cadastro .quadro-generos {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    border-bottom: 2px solid white;
    padding-bottom: 2rem;
    width: 100%;
}

body .formulario-cadastro .quadro-generos h3 {
    font-size: 150%;
}

body .formulario-cadastro .quadro-generos h4 {
    font-size: 120%;
}

body .formulario-cadastro .quadro-generos .quadro-generos_campos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    width: 100%;
    row-gap: .5rem;
}

body .formulario-cadastro .quadro-generos .quadro-generos_campos .quadro-genero_campo-1 label, .quadro-genero_campo-2 label, .quadro-genero_campo-3 label, .quadro-genero_campo-4 label, .quadro-genero_campo-5 label, .quadro-genero_campo-6 label a {
    cursor: pointer;
}

body .formulario-cadastro .quadro-generos .quadro-generos_campos .quadro-genero_campo-1 label, .quadro-genero_campo-2 label, .quadro-genero_campo-3 label, .quadro-genero_campo-4, .quadro-genero_campo-5 label, .quadro-genero_campo-6 label {
    cursor: pointer;
}

body .formulario-cadastro .quadro-generos .quadro-generos_campos .quadro-genero_campo-1, .quadro-genero_campo-2, .quadro-genero_campo-3, .quadro-genero_campo-4, .quadro-genero_campo-5, .quadro-genero_campo-6 {
    display: flex;
    flex-direction: column;
    font-size: 130%;
    font-weight: 700;
    gap: .2rem;
    background-color: #fff;
    color: var(--azul-delft);
    text-align: center;
    justify-content: center;
    opacity: 1;
    border-radius: .4rem;
    height: 1.6rem;
    width: 100%;
    padding: 1.6rem;
    cursor: pointer;
}