.checkbox-genero{
    display: none;
}

/* quando um checkbox de gênero estiver marcado,
muda o estilo da âncora */
.checkbox-genero:checked + .rotulo-genero > .ancora-genero {
    text-decoration: underline;
}

/* pra mudar o estilo da âncora sob hover, basta estilizar aqui dentro */
.ancora-genero:hover{

    font-size: 1.1rem;
}

.menu_login input::placeholder{

    color: var(--alcacuz);
    opacity: 0.6;

}
input:focus::placeholder{

    opacity: 0;
}

