#bodyquemsomos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; 
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1;
  margin: 50px 0
}

.navigation-bar {
  background-color: var(--azul-delft);
  max-height: 8rem;
  /* height: 8rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: 20px;
}

.back-to-home {
  /* background-color: transparent; */
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-left: 4%;
}

.back-to-home span {
  font-size: 2.3rem;
  color: var(--branco);
  font-weight: 550;
  margin-left: -4%;
}

.info{

    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.div-inferior{

    display: flex;
    flex-direction: row;
    background-color: var(--azul-delft);
    width: 100%;
    height: 350px;
    padding: 0 10%;
    align-items: center;
}

.div-inferior_cima{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    row-gap: 70px;
    column-gap: 20px;
}

.div-inferior_cima div label {
  font-size: 20px;
  color: var(--azul-colombia);
}

.mutavel{
    font-size: 24px;
    color: var(--branco);
}


body .info_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem;
    width: 1;
    background-color: var(--azul-delft);
    gap: 1.8rem;
}
body .info_container h1 {
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

body .info_container h2 {
    color: white;
    font-weight: 600;
    font-size: 2rem;
}

.container_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;         /* garante mesma altura */
    min-width:0;
}

body .imagens_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40rem;
    width: 1;
    background-color: var(--branco);;
    gap: 1.8rem;
}

body .imagens_info h1 {
    color: #2E347B;
    font-weight: 600;
    font-size: 3rem;
}

body .imagens_info h2 {
    font-size: clamp(2rem, 2vw, 1.5rem);
    margin: 2rem 2rem;
    line-height: 1.5rem;
}

body .imagens_info h3 {
    font-size: clamp(1rem, 1.6vw, 1.25rem);
    margin: 2rem 2rem;
    line-height: 1.5rem;
}


.card_passos{
  display:block;
  width: 70%;
  margin: 2rem auto;
  background: var(--azul-colombia);
  color: var(--alcacuz);
  opacity: 0.9;
  text-align:center;
  border-radius:1rem;
}
