#bodyquemsomos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; 
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
  flex: 1;
  margin-bottom: 70px;
}

.navigation-bar {
  background-color: var(--azul-delft);
  max-height: 8rem;
  /* height: 8rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: 20px;
}

.back-to-home {
  /* background-color: transparent; */
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-left: 4%;
}

.back-to-home span {
  font-size: 2.3rem;
  color: var(--branco);
  font-weight: 550;
  margin-left: -4%;
}

.info{

    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.div-inferior{

    display: flex;
    flex-direction: row;
    background-color: var(--azul-delft);
    width: 100%;
    height: 350px;
    padding: 0 10%;
    align-items: center;
}

.div-inferior_cima{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    row-gap: 70px;
    column-gap: 20px;
}

.div-inferior_cima div label {
  font-size: 20px;
  color: var(--azul-colombia);
}

.mutavel{
    font-size: 24px;
    color: var(--branco);
}


body .info_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    width: 70%;
}
body .info_container h1 {
    color: white;
    font-weight: 600;
    font-size: 4rem;
}

body .info_container h2 {
    color: white;
    font-weight: 500;
    font-size: 2rem;
}

.container_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width:0;
    background-color: var(--azul-delft);
    align-items: center;
    gap: 3rem;
    min-height: max-content;
    padding: 40px 40px;

}

body .imagens_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

body .imagens_info h2 {
    color: #2E347B;
    font-weight: 600;
    font-size: 4rem;
}


body .imagens_info .container_passos {
  display: flex;
  justify-content: center;
  width: 90%;
  align-items: center;

}
body .imagens_info .container_passo-a-passo {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 2rem;
  width: 100%;
  justify-items: center;
}

body .imagens_info .container_passo-a-passo div {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 2rem;
  background-color: #D9D9D9;
  border-radius: 2.5rem;
  width: 90%;
  align-items: center;
  justify-content: center;
}

body .imagens_info .container_passo-a-passo div img {
  width: 155px;
  max-height: 137px;
}
  

body .imagens_info .container_passo-a-passo div h3 {
  font-size: 2.5rem;
  text-align: center;
}

body .imagens_info .container_passo-a-passo div h4 {
  font-size: 2rem;
  text-align: center;
}

body .imagens_info .container_passo-a-passo div p {
  font-size: 1.3rem;
  text-align: center;
}


body .imagem_banner img {
   width: 300px;

}

body .depoimentos_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    background-color: #2E347B;
    padding: 40px;
}

body .depoimentos_info h2 {
    color: #FFFF;
    font-weight: 600;
    font-size: 4rem;
}

body .depoimentos_info .container_depoimentos {
  display: flex;
  justify-content: center;
  width: 90%;
  align-items: center;

}
body .depoimentos_info .container_card_depoimentos {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 2rem;
  width: 100%;
  justify-items: center;
}

body .depoimentos_info .container_card_depoimentos div {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 2rem;
  border-radius: 2.5rem;
  width: 90%;
  align-items: center;
  justify-content: center;
}

body .depoimentos_info .container_card_depoimentos div span {
  font-size: 2rem;
  text-align: center;
  color: var(--branco);
  font-weight: 600;
}

body .perguntas_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    width: 100%;
}

body .perguntas_info .container_perguntas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

body .perguntas_info .container_perguntas .container_perguntas_estrutura{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 5rem;
  column-gap: 2rem;
  justify-items: center;
}

body .perguntas_info .container_perguntas .container_perguntas_estrutura div{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 75%;
}

body .perguntas_info .container_perguntas .container_perguntas_estrutura div h3{
  text-align: start;
}

body .perguntas_info h2 {
    color: var(--azul-delft);
    font-weight: 600;
    font-size: 4rem;
}

body .perguntas_info h3 {
    color: var(--azul-delft);
    font-weight: 600;
    font-size: 2rem;
}

body .perguntas_info p {
    color: var(--alcacuz);
    font-weight: 600;
    font-size: 1rem;
}

body .imagem_banner img {
   width: 300px;

}


.card_passos{
  display:block;
  width: 70%;
  background: var(--azul-colombia);
  color: var(--alcacuz);
  opacity: 0.9;
  text-align:center;
  border-radius:1rem;
}
