body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
    justify-content: center;
    max-width: 100%;
}


main .container-reserva {
    display: flex;
    flex-direction: row;
    border: 3px solid var(--alcacuz);
    padding: 1rem;
    gap: 30px;
    align-items: center;
    width: 70%;
}

main .container-reserva .container-capa .capa {
    height: 50vh;
    width: calc((2/3)*height);
}

main .container-reserva .container-informacoes-livro {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: max-content;
}

main .container-reserva .container-informacoes-livro .titulo, .autor, .genero, .resumo {
    color: var(--azul-delft);
    font-weight: 700;
}

main .container-reserva .container-informacoes-livro .titulo {
    font-size: clamp(20px, calc(1.4vw + 1.4vh), 36px);
    width: 100%;
    text-align: left;
}

main .container-reserva .autor-e-genero {
    display: flex;
    flex-direction: row;
    gap: 4%;
    align-items: center;
}

main .container-reserva .container-informacoes-livro .autor {
    font-size: clamp(16px, calc(1vw + 1vh), 28px);
    width: 30%;
}

main .container-reserva .container-informacoes-livro .genero {
    font-size: clamp(12px, calc(0.8vw + 0.8vh), 18px);
    padding: 1.3% 4%;
    width: max-content;
    background-color: var(--azul-colombia);
    border-radius: 1.25rem;
}

main .container-reserva .container-informacoes-livro .resumo {
    font-size: clamp(12px, calc(0.8vw + 0.8vh), 16px);
    width: 90%;
}

main .container-reserva .container-informacoes-reserva {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto 0;
    align-items: center;
}

main .container-reserva .container-informacoes-reserva .container-status-reserva {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

main .container-reserva .container-informacoes-reserva .container-status-reserva .status-reserva {
    font-size: clamp(10px, calc(0.7vw + 0.7vh), 16px);
    display: flex;
    background-color: var(--azul-delft);
    color: var(--branco);
    width: 70%;
    height: 1.8rem;
    border-radius: 1.25rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

main .container-reserva .container-informacoes-reserva .container-status-reserva .hora-limite-retirada {
    font-size: clamp(8px, calc(0.7vw + 0.7vh), 16px);
    font-weight: 700;
    color: var(--alcacuz);
    width: 70%;
}

main .container-reserva .container-informacoes-reserva .container-status-reserva .numero-chamada {
    font-size: clamp(8px, calc(0.7vw + 0.7vh), 16px);
    font-weight: 700;
    color: var(--alcacuz);
    width: 70%;
}

main .container-reserva .container-informacoes-reserva .botao-cancelar-reserva {
    font-size: clamp(16px, calc(1.1vw + 1.1vh), 32px);
    background-color: var(--vermelho-alaranjado);
    color: var(--branco);
    border-radius: 1rem;
    cursor: pointer;
    width: 40%;
    height: 3.5rem;
    text-align: center;
    align-items: center;
}

.botao-cancelar-reserva:hover{

    filter: brightness(1.2);
}

.botao-reserva-expirada:hover{

    filter: brightness(1.0) !important;
}

main .container-reserva .container-informacoes-reserva .container-status-reserva .reserva-expirada {
    background-color: var(--vermelho-alaranjado);
}

.autor-e-genero{

    display: flex;
    align-items: center;
    
}

#mensagem-padrao-reserva{
    
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--alcacuz);
    font-weight: 400;
    
}