body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
    justify-content: center;
    max-width: 100%;
}

.template{
    display: none !important;
}

main .container-selecao {
    display: flex;
    flex-direction: row;
    border: 3px solid var(--alcacuz);
    padding: 1rem;
    gap: 30px;
    align-items: center;
    width: 70%;
}

main .container-selecao .container-capa .capa {
    height: 50vh;
    width: calc((2/3)*height);
}

main .container-selecao .container-informacoes-livro {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: max-content;
}

main .container-selecao .container-informacoes-livro .titulo, .autor, .genero, .resumo {
    color: var(--azul-delft);
    font-weight: 700;
}

main .container-selecao .container-informacoes-livro .titulo {
    font-size: clamp(20px, calc(1.4vw + 1.4vh), 36px);
    width: 100%;
}

main .container-selecao .autor-e-genero {
    display: flex;
    flex-direction: row;
    gap: 4%;
    align-items: center;
}

main .container-selecao .container-informacoes-livro .autor {
    font-size: clamp(16px, calc(1vw + 1vh), 28px);
    width: 30%;
}

main .container-selecao .container-informacoes-livro #disponibilidade {
    background-color: var(--azul-colombia);
    border-radius: 15px;
    font-size: clamp(14px, 2vw, 20px);
    padding: 1.2% 6%;
    color: var(--azul-delft);
    font-weight: 700;
    max-width: max-content;
} 

main .container-selecao .container-informacoes-livro .genero {
    font-size: clamp(12px, calc(0.8vw + 0.8vh), 18px);
    padding: 1.3% 4%;
    width: max-content;
    background-color: var(--azul-colombia);
    border-radius: 1.25rem;
}

main .container-selecao .container-informacoes-livro .resumo {
    font-size: clamp(12px, calc(0.8vw + 0.8vh), 16px);
    width: 90%;
}

main .container-selecao .container-informacoes-livro .container-botoes-selecao {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    gap: 10%;
    justify-content: center;
}

main .container-selecao .container-informacoes-livro .container-botoes-selecao .botao-ir-para-livro, .botao-reservar {
    font-size: clamp(16px, calc(1.1vw + 1.1vh), 30px);
    background-color: var(--azul-delft);
    color: var(--branco);
    border-radius: 1rem;
    cursor: pointer;
    padding: 1.5%;
    width: 35%;
    height: 3.5rem;
    text-align: center;
    align-items: center;
}

