body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
    justify-content: center;
    max-width: 100%;
}

.template{
    display: none !important;
}

main .container-selecao {
    display: flex;
    flex-direction: row;
    border: 3px solid var(--alcacuz);
    padding: 1rem;
    gap: 30px;
    align-items: center;
    width: 70%;
}

main .container-selecao .container-capa .capa {
    height: 50vh;
    width: calc((2/3)*height);
}

main .container-selecao .container-informacoes-livro {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: max-content;
}

main .container-selecao .container-informacoes-livro .titulo, .autor, .genero, .resumo {
    color: var(--azul-delft);
    font-weight: 700;
}

main .container-selecao .container-informacoes-livro .titulo {
    font-size: clamp(20px, calc(1.4vw + 1.4vh), 36px);
    width: 100%;
}

main .container-selecao .autor-e-genero {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
}

main .container-selecao .container-informacoes-livro .autor {
    font-size: clamp(16px, calc(1vw + 1vh), 28px);
    width: 30%;
}

main .container-selecao .container-informacoes-livro #disponibilidade {
    background-color: var(--azul-colombia);
    border-radius: 15px;
    font-size: clamp(14px, 2vw, 20px);
    padding: 1.2% 6%;
    color: var(--azul-delft);
    font-weight: 700;
    max-width: max-content;
} 

main .container-selecao .container-informacoes-livro .genero {
    font-size: clamp(12px, calc(0.8vw + 0.8vh), 18px);
    padding: 1.2% 6%;
    background-color: var(--azul-colombia);
    border-radius: 1.25rem;
    text-align: center;
}

main .container-selecao .container-informacoes-livro .resumo {
    font-size: clamp(12px, calc(0.8vw + 0.8vh), 16px);
    width: 90%;
}

main .container-selecao .container-informacoes-livro .container-botoes-selecao {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    gap: 10%;
    justify-content: center;
}

main .container-selecao .container-informacoes-livro .container-botoes-selecao .botao-ir-para-livro, .botao-reservar {
    font-size: clamp(16px, calc(1.1vw + 1.1vh), 30px);
    background-color: var(--azul-delft);
    color: var(--branco);
    border-radius: 1rem;
    cursor: pointer;
    padding: 1.5%;
    width: 35%;
    height: 3.5rem;
    text-align: center;
    align-items: center;
}

.reserve-container {
background-color: var(--azul-colombia);
  padding: 2rem 2rem;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 5px solid var(--azul-delft);
  width: 65vw;
  height: max-content;
  position: fixed;
  left: 20%;
  top: 10%;
  z-index: 10;
  box-sizing: border-box;
  border-radius: 15px;
  transform: scale(calc(80 / 100)); 
  transform-origin: top center; 
}

.reserve-container h2 {
  font-size: clamp(24px, calc(1.3vw + 1.3vh), 42px);
  color: var(--azul-delft);
  font-weight: 600;
}

.reserve-container .container-livro {
  border: 4px solid var(--azul-delft);
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  width: 100%;
  height: 100%;
}

.reserve-buttons{

  width: 40%;
}

.reserve-container .container-livro span {
  font-size: clamp(12px, calc(0.8vw + 0.8vh), 16px);
  font-weight: 600;
  font-style: italic;
}

.reserve-container .container-livro .lib-page {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.reserve-container .container-livro .lib-page #capa-janela-reserva {
  height: 40vh;
  width: calc((2/3)*height);
}

.reserve-container .container-livro .lib-page .container-informacao {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.reserve-container .container-livro .lib-page .container-informacao #titulo-livro-janela-reserva, #autor-janela-reserva, #genero-janela-reserva, #resumo {
  color: var(--azul-delft);
  font-weight: 700;
  font-style: normal;
}

.reserve-container .container-livro .lib-page .container-informacao #titulo-livro-janela-reserva {
  font-size: clamp(20px, calc(1.3vw + 1.3vh), 36px);
}

.reserve-container .container-livro .lib-page .container-informacao #autor-janela-reserva {
  font-size: clamp(16px, calc(0.8vw + 0.8vh), 20px);
}

.reserve-container .container-livro .lib-page .container-informacao #genero-janela-reserva {
  font-size: clamp(12px, calc(0.8vw + 0.8vh, 16px));
  padding: 2% 4%;
  background-color: var(--branco);
  width: max-content;
  border-radius: 1.25rem;
  border: 2px solid var(--azul-delft);
}

.reserve-container .container-livro .lib-page .container-informacao #resumo {
  font-size: clamp(12px, calc(0.8vw + 0.8vh, 16px));
}

.reserve-container .buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.reserve-container .buttons-container #botao-cancelar-reserva {
  font-size: clamp(16px, 1.4vw, 24px);
  padding: 3% 8%;
  border-radius: 1.25rem;
  background-color: var(--vermelho-alaranjado);
  color: var(--branco);
  font-weight: 550;
  cursor: pointer;
}

.reserve-container .buttons-container #botao-confirmar-reserva {
  font-size: clamp(16px, 1.4vw, 24px);
  padding: 3% 8%;
  border-radius: 1.25rem;
  background-color: var(--azul-delft);
  color: var(--branco);
  font-weight: 550;
  cursor: pointer;
}