@import url("../css-styles/cabecalho.css");
@import url("../css-styles/carrossel.css");
@import url("../css-styles/card.css");
@import url("../css-styles/busca-e-menus.css");
@import url("../css-styles/caixas-dialogo.css");
@import url("../css-styles/em-alta.css");
@import url("../css-styles/rodape.css");
@import url("../css-styles/cadastro.css");
@import url("../css-styles/redefinir-senha.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');
@import url('../css-styles/acervo.css');
@import url('../css-styles/reset.css');
@import url("../css-styles/favoritos.css");
@import url("../css-styles/autor.css");
@import url("../css-styles/seus-generos-favoritos.css");
@import url("../css-styles/avaliacoes.css");
@import url("../css-styles/estrelas-classificacao.css");

* {
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
}

:root{
    --azul-delft: #2E347B;
    --branco: #FFFFFF;
    --vermelho-alaranjado: #BA1200;
    --azul-colombia: #BDD5EA;
    --alcacuz: #0F0404;
    --fonte-principal: 'Inter';
    --fonte-serifada: 'Addington';
}

.hidden {
    display: none !important;
}

.visibility {
    display: flex !important;
}

html {
    font-size: 16px;
    font-family: var(--fonte-principal);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}




