@import url("../css-styles/carrossel.css");
@import url("../css-styles/card.css");
@import url("../css-styles/menu-usuario.css");
@import url("../css-styles/caixas-dialogo.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
}

:root{
    --azul-delft: #2E347B;
    --branco: #FFFFFF;
    --vermelho-alaranjado: #BA1200;
    --azul-colombia: #BDD5EA;
    --alcacuz: #0F0404;
    --fonte-principal: 'Inter';
}

html {
    font-size: 16px;
    font-family: var(--fonte-principal);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

body header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8rem;
}

body header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    margin: 0 8.6% 0 8.6%;
}

body header nav .nav_containers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

body header nav .nav_containers .anchor_container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

body header nav .nav_containers .anchor_container a {
    color: var(--alcacuz);
    font-weight: 600;
    font-size: 1.5rem;
}

body header nav .logo_container img {
    width: 15rem;
}

/* escondendo a checkbox que abre o menu de login */
#checkbox-login{

    display: none; 
}

/* keyframes são "roteiros" a serem chamados para animar uma transição: */
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#checkbox-login:checked ~.container_busca_e_login .search_container{

    flex-basis: 75%;

}

body header nav .login_container label {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: var(--azul-delft);
    padding: 0.5rem 1rem;
    gap: 0.95rem;
    border-radius: .313rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.menu_login{

        display: flex;
    gap: 1rem;

    /* controle do aparecimento/desaparecimento */
    flex: 0 0 0%;
    background: var(--azul-colombia);
    opacity: 0;
    border: solid 0.1em;
    height: 0;
    padding: 0;
    margin: 0;
    border-width: 0;
    overflow: hidden;
    /* controla a velocidade e tipo de transição do movimento e da opacidade: */
    transition: flex-basis 0.5s ease, opacity 0.15s ease, padding .35s ease, border-width .35 ease;
    /* evita que o conteúdo interno obrigue a barra a ficar maior que o flex-basis */
    min-width: 0;
    min-height: 0;
    /* opcional: performance */
    will-change: flex-basis, opacity;

    /* posicionamento */
    text-align: left;
    
    justify-content: flex-start;
    flex-direction: column;
    line-height: 2rem;
    
    /* estilização */
    font-size: 1.75rem;
    font-family: var(--fonte-principal);
}

/* TUDO ISSO AQUI É DO MENU DO USUARIO */

.menu_usuario{

    display: flex;
    gap: 1rem;

    /* controle do aparecimento/desaparecimento */
    flex: 0 0 0%;
    background: var(--azul-colombia);
    opacity: 0;
    border: solid 0.1em;
    height: 0;
    padding: 0;
    margin: 0;
    border-width: 0;
    overflow: hidden;
    /* controla a velocidade e tipo de transição do movimento e da opacidade: */
    transition: flex-basis 0.5s ease, opacity 0.15s ease, padding .35s ease, border-width .35 ease;
    /* evita que o conteúdo interno obrigue a barra a ficar maior que o flex-basis */
    min-width: 0;
    min-height: 0;
    /* opcional: performance */
    will-change: flex-basis, opacity;

    /* posicionamento */
    text-align: left;
    
    justify-content: flex-start;
    flex-direction: column;
    line-height: 2rem;
    
    /* estilização */
    font-size: 1.75rem;
    font-family: var(--fonte-principal);
}

.menu_usuario ul{

    display: flex;
    flex-direction: column;
    justify-content: first baseline;

    gap: 1.25rem;

}

.menu_usuario ul li{

    display: flex;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
    padding: 0 0 0 7.5%;
}

.menu_usuario ul li a{

    display: flex;
    text-align: center;
    align-items: center;
    line-height: 1.2;

    white-space: normal;
    overflow-wrap:initial; 
    text-wrap: balance; 

    gap: 0.5rem;
    font-size: clamp(1rem, 1.5vw, 1.75rem);
    color: var(--alcacuz);
}

.menu_usuario ul li:hover{

    text-decoration: underline;
    font-weight: bold;
}

/* Abre o MENU DE LOGIN quando NÃO está logado */
body:not(.is-logged) #checkbox-login:checked ~ .container_busca_e_login .menu_login {
  flex-basis: 25%;
  opacity: 1;
  animation: fadeInUsuario .5s forwards;
  height: 20rem;
  padding: 1rem 1.5rem;
  border: 0.2rem solid var(--alcacuz);
}

/* Abre o MENU DO USUÁRIO quando ESTÁ logado */
body.is-logged #checkbox-login:checked ~ .container_busca_e_login .menu_usuario {
  flex-basis: 20%;
  opacity: 1;
  animation: fadeInUsuario .5s forwards;
  height: 20rem;
  padding: 1rem 1% 1rem 1%;
  border: 0.2rem solid var(--alcacuz);
}

/* sua animação já existia */
@keyframes fadeInUsuario {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* FIM DO TRECHO DO MENU DO USUARIO */


body .search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    background-color: var(--azul-delft);
    gap: 1.8rem;

    /* controle da transição da seção na abertura do menu de login */
    flex: 1 1 100%;
    transition: flex-basis .5s ease;
    min-width: 0;
}

.container_busca_e_login{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;         /* garante mesma altura */
    min-width:0;
    
    
}

.container_campos_usuario{

    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-align: left;

}

.container_campos_senha{

    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-align: left;
}

.menu_login input{

    width: 100%;
    height: 2.5rem;
    border-radius: calc((5/8)*1rem);
    border: solid 0.1rem var(--alcacuz);
    font-size: 1rem;
    color: var(--alcacuz);
    padding-left: 0.5rem;
}

.menu_login input::placeholder{

    color: var(--alcacuz);
    opacity: 0.6;

}

.menu_login input:focus::placeholder{

    opacity: 0;
}

.menu_login button{

    width: 50%;
    height: 2.5rem;
    border-radius: calc((5/8)*1rem);
    font-size: 1.75rem;
    color: var(--branco);
    background-color: var(--azul-delft);
    margin: auto;
    cursor: pointer;
}

.esqueci_senha, .cadastre-se{

    font-size: 1rem;
}

.cadastre-se{

    text-align: center;
}
.ancora_cadastre-se{

    color: var(--vermelho-alaranjado)
}

.container_rotulo_senha{

    display: flex;
    align-items:flex-start;
    justify-content: space-between;
   
}

.esqueci_senha{

    color: var(--vermelho-alaranjado);
}
body .search_container h1 {
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

body .search_container h2 {
    color: white;
    font-weight: 600;
    font-size: 2rem;
}

body .search_container div {
    width: 28.25rem;
    height: 3.6rem;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

body .search_container div input {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: hsl(var(--alcacuz) / 0.8);
    border-radius: 1rem;
    text-align: center;
    padding: 0 2rem 0 3rem;
    outline: none;
}

body .search_container div input:focus::placeholder {

    opacity: 0;
}

body .search_container div::before {
      content: url("../img/icon_search.png");         
      position: absolute;
      left: 2rem;
      top: 50%;
      transform: translateY(-50%);
      color: #444;
      opacity: .7;
    }

body .rise_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 23.75rem;
    width: 100%;
    background-color: var(--azul-delft);
}

body .rise_container h2 {
    font-size: 3rem;
    font-weight:600;
    font-family: var(--);
    color: var(--branco);
    margin-top: 1.5rem;
}

body .rise_container .high_container {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    margin-top: 3.5rem;
    margin-bottom: 5rem;
}

body .rise_container .high_container a {
    background-color: var(--branco);
    color: var(--alcacuz);
    padding: 1rem 1.3rem;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--azul-delft);
    border-radius: 0.363rem;
}

body .rise_container .low_container {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

body .rise_container .low_container a {
    background-color: var(--branco);
    color: var(--azul-delft);
    padding: 1rem 1.3rem;
    font-size: 1.75rem;
    font-weight: 700;
    border-radius: 0.363rem;
}

body footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--azul-delft);
    height: 22rem;
    justify-content: space-around;
}

body footer .left_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37rem;
    gap: 2.5rem;
}

body footer .email_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

body footer .email_container span {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--branco);
}

body footer .logos_container {
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--branco);
    justify-content: space-around;
    width: 100%;
    padding-top: 1rem;
}

body footer .logos_container img {
    width: 10rem;
    height: 10rem;
}

body footer .right_container {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    gap: 4.5rem;
}

body footer .right_container .devs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

body footer .right_container .devs h2 {
    font-size: 2rem;
    color: var(--branco);
    font-weight: 700;
}

body footer .right_container .devs ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: .6rem;
    margin-left: 1.3rem;
}

body footer .right_container .devs ul li {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--branco);
    list-style:circle;
}

body footer .right_container nav {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

body footer .right_container nav h2 {
    font-size: 2rem;
    color: var(--branco);
    font-weight: 700;
}

body footer .right_container nav a {
    font-size: 1.2rem;
    color: var(--branco);
    font-weight: 500;
    text-decoration: underline;
}

@media screen and (max-width: 600px){

    html{

        font-size: 12px;
    }


}