@import url("../styles/carrossel.css");
@import url("../styles/card.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
}

:root{

    --azul-delft: #2E347B;
    --branco: #FFFFFF;
    --vermelho-alaranjado: #BA1200;
    --azul-colombia: #BDD5EA;
    --alcacuz: #0F0404;
    --fonte-principal: 'Inter';
}

html{
    font-size: 16px;
    font-family: var(--fonte-principal);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

body header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8rem;
}

body header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    margin: 0 8.6% 0 8.6%;
}

body header nav .nav_containers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

body header nav .nav_containers .anchor_container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

body header nav .nav_containers .anchor_container a {
    color: var(--alcacuz);
    font-weight: 600;
    font-size: 1.5rem;
}

body header nav .logo_container img {
    width: 15rem;
}

/* escondendo a checkbox que abre o menu de login */
#checkbox-login{

    display: none; 
}

/* controle do checkbox que abre o menu de login */
#checkbox-login:checked ~.container_busca_e_login .menu_login{

    flex-basis: 25%;
    /* opacidade em 100%: */
    opacity: 1;
    /* essa animação é para controlar a expansão*/
    animation: fadeIn .5s forwards;
    height: auto;

    padding: 1rem 2rem;
    border: 0.2rem solid var(--alcacuz);

}

/* keyframes são "roteiros" a serem chamados para animar uma transição: */
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#checkbox-login:checked ~.container_busca_e_login .search_container{

    flex-basis: 75%;

}

body header nav .login_container label {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: #2E347B;
    padding: 0.5rem 1rem;
    gap: 0.95rem;
    border-radius: .313rem;
    font-size: 1.5rem;
    cursor: pointer;
}

body .search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    background-color: #2E347B;
    gap: 1.8rem;

    /* controle da transição da seção na abertura do menu de login */
    flex: 1 1 100%;
    transition: flex-basis .5s ease;
    min-width: 0;
}

.container_busca_e_login{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;         /* garante mesma altura */
    min-width:0;
    
    
}
.menu_login{

    display: flex;
    gap: 1rem;

    /* controle do aparecimento/desaparecimento */
    flex: 0 0 0%;
    background: var(--azul-colombia);
    opacity: 0;
    border: solid 0.1em;
    height: 0;
    padding: 0;
    margin: 0;
    border-width: 0;
    overflow: hidden;
    /* controla a velocidade e tipo de transição do movimento e da opacidade: */
    transition: flex-basis 0.5s ease, opacity 0.15s ease, padding .35s ease, border-width .35 ease;
    /* evita que o conteúdo interno obrigue a barra a ficar maior que o flex-basis */
    min-width: 0;
    min-height: 0;
    /* opcional: performance */
    will-change: flex-basis, opacity;

    /* posicionamento */
    text-align: left;
    
    justify-content: flex-start;
    flex-direction: column;
    line-height: 2rem;
    
    /* estilização */
    font-size: 1.75rem;
    font-family: var(--fonte-principal);
}

.container_campos_usuario{

    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-align: left;

}

.container_campos_senha{

    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-align: left;
}

.menu_login input{

    width: 100%;
    height: 2.5rem;
    border-radius: calc((5/8)*1rem);
    border: solid 0.1rem var(--alcacuz);
    font-size: 1rem;
    color: var(--alcacuz);
    padding-left: 0.5rem;
}

.menu_login input:placeholder{

    color: hsl(var(--alcacuz) / 0.8);

}

.menu_login input:focus::placeholder{

    opacity: 0;
}

.menu_login button{

    width: 50%;
    height: 2.5rem;
    border-radius: calc((5/8)*1rem);
    font-size: 1.75rem;
    color: var(--branco);
    background-color: var(--azul-delft);
    margin: auto;
    cursor: pointer;
}

.esqueci_senha, .cadastre-se{

    font-size: 1rem;
}

.cadastre-se{

    text-align: center;
}
.ancora_cadastre-se{

    color: var(--vermelho-alaranjado)
}

.container_rotulo_senha{

    display: flex;
    align-items:flex-start;
    justify-content: space-between;
   
}

.esqueci_senha{

    color: var(--vermelho-alaranjado);
}
body .search_container h1 {
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

body .search_container h2 {
    color: white;
    font-weight: 600;
    font-size: 2rem;
}

body .search_container div {
    width: 28.25rem;
    height: 3.6rem;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

body .search_container div input {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: hsl(var(--alcacuz) / 0.8);
    border-radius: 1rem;
    text-align: center;
    padding: 0 2rem 0 3rem;
    outline: none;
}

body .search_container div input:focus::placeholder {

    opacity: 0;
}

body .search_container div::before {
      content: url("../img/icon_search.png");         
      position: absolute;
      left: 2rem;
      top: 50%;
      transform: translateY(-50%);
      color: #444;
      opacity: .7;
    }

body .rise_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 23.75rem;
    width: 100%;
    background-color: var(--azul-delft);
}

body .rise_container h2 {
    font-size: 3rem;
    font-weight:600;
    font-family: var(--);
    color: var(--branco);
    margin-top: 1.5rem;
}

body .rise_container .high_container {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    margin-top: 3.5rem;
    margin-bottom: 5rem;
}

body .rise_container .high_container a {
    background-color: var(--branco);
    color: var(--alcacuz);
    padding: 1rem 1.3rem;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--azul-delft);
    border-radius: 0.363rem;
}

body .rise_container .low_container {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

body .rise_container .low_container a {
    background-color: var(--branco);
    color: var(--azul-delft);
    padding: 1rem 1.3rem;
    font-size: 1.75rem;
    font-weight: 700;
    border-radius: 0.363rem;
}