@import url("../styles/carrossel.css");
@import url("../styles/card.css");

* {
    box-sizing: border-box;
    font-family: Inter;
}

html{

    font-size: 16px;
}
:root{

    --azul-delft: #2E347B;
    --branco: #FFFFFF;
    --vermelho-alaranjado: #BA1200;
    --azul-colombia: #BDD5EA;
    --alcacuz: #0F0404;
}